<%- include("header"); -%>
  <div class="box" id="heading">
    <h1>About Us</h1>
  </div>
  <div class="box">
    <p>We are commited to making this app a better one, by continually refreshing it with new technologies. Our To-Do-List app aims to help you make simple lists.</p>
  </div>
<%- include("footer"); -%>
